In [36]:
# Date and Companies Profit or Losses

# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

# Initialize lists to hold profitable and unprofitable months
profitable_months = []
unprofitable_months = []

#List of monthly incomes, profit and losses

Monthly_income = {"Jan-2010": 867884,
"Feb-2010": 984655,
"Mar-2010": 322013,
"Apr-2010": -69417,
"May-2010": 310503,
"Jun-2010": 522857,
"Jul-2010": 1033096,
"Aug-2010": 604885,
"Sep-2010": -216386,
"Oct-2010": 477532,
"Nov-2010": 893810,
"Dec-2010": -80353,
"Jan-2011": 779806,
"Feb-2011": -335203,
"Mar-2011": 697845,
"Apr-2011": 793163,
"May-2011": 485070,
"Jun-2011": 584122,
"Jul-2011": 62729,
"Aug-2011": 668179,
"Sep-2011": 899906,
"Oct-2011": 834719,
"Nov-2011": 132003,
"Dec-2011": 309978,
"Jan-2012": -755566,
"Feb-2012": 1170593,
"Mar-2012": 252788,
"Apr-2012": 1151518,
"May-2012": 817256,
"Jun-2012": 570757,
"Jul-2012": 506702,
"Aug-2012": -1022534,
"Sep-2012": 475062,
"Oct-2012": 779976,
"Nov-2012": 144175,
"Dec-2012": 542494,
"Jan-2013": 359333,
"Feb-2013": 321469,
"Mar-2013": 67780,
"Apr-2013": 471435,
"May-2013": 565603,
"Jun-2013": 872480,
"Jul-2013": 789480,
"Aug-2013": 999942,
"Sep-2013": -1196225,
"Oct-2013": 268997,
"Nov-2013": -687986,
"Dec-2013": 1150461,
"Jan-2014": 682458,
"Feb-2014": 617856,
"Mar-2014": 824098,
"Apr-2014": 581943,
"May-2014": 132864,
"Jun-2014": 448062,
"Jul-2014": 689161,
"Aug-2014": 800701,
"Sep-2014": 1166643,
"Oct-2014": 947333,
"Nov-2014": 578668,
"Dec-2014": 988505,
"Jan-2015": 1139715,
"Feb-2015": 1029471,
"Mar-2015": 687533,
"Apr-2015": -524626,
"May-2015": 158620,
"Jun-2015": 87795,
"Jul-2015": 423389,
"Aug-2015": 840723,
"Sep-2015": 568529,
"Oct-2015": 332067,
"Nov-2015": 989499,
"Dec-2015": 778237,
"Jan-2016": 650000,
"Feb-2016": -1100387,
"Mar-2016": -174946,
"Apr-2016": 757143,
"May-2016": 445709,
"Jun-2016": 712961,
"Jul-2016": -1163797,
"Aug-2016": 569899,
"Sep-2016": 768450,
"Oct-2016": 102685,
"Nov-2016": 795914,
"Dec-2016": 60988,
"Jan-2017": 138230,
"Feb-2017": 671099}

# Calculate the Total number of months included in the data set
print(len(Monthly_income))

# Initialize metric values
total_profit_losses = 0
Number_days = 0
average = 0

# Initialize minimum key-value pair
minimum_key = ""
minimum_value = 0

# initialize maximum key-value pair
maximum_key = ""
maximum_value = 0

#Iterate over key-value pairs of the dictionary
print()
for date, income in Monthly_income.items():
    print(f"Day: {date} | Income {income}")
    
# Cumulatively sum up the total profits/losses and count months
    total_profit_losses += int(income)
    Number_days += 1
    
# Logic to determine greatest profit and greatest losses
    if minimum_value == 0:
        minimum_value = income
        minimum_key = date
    elif income < minimum_value:
        minimum_value = income
        minimum_key = date, income
    
    if income > maximum_value:
        maximum_value = income
        maximum_key = date, income
        
    # Group Date by income
    if income > 0:
        profitable_months.append(date)
    elif income < 0:
        unprofitable_months.append(date)
        
    # Calculate the average monthly income in the dictionary
    average = round(total_profit_losses / Number_days, 2)


# Print the metrics
print()
print("Financial Analysis")
print("------------------------------")
print(f"Total Monthly Incomes: {total_profit_losses}")
print(f"Total number of Months: {Number_days}")
print(f"Average Monthly Income: {average}")
print(f"Largest Monthly Profit: {maximum_key}")
print(f"Largest Monthly Loss: {minimum_key}")
      

# The net total amount of Profit/Losses over the entire period.


# The average of the changes in Profit/Losses over the entire period.


# The greatest increase in profits (date and amount) over the entire period.


# The greatest decrease in losses (date and amount) over the entire period

86

Day: Jan-2010 | Income 867884
Day: Feb-2010 | Income 984655
Day: Mar-2010 | Income 322013
Day: Apr-2010 | Income -69417
Day: May-2010 | Income 310503
Day: Jun-2010 | Income 522857
Day: Jul-2010 | Income 1033096
Day: Aug-2010 | Income 604885
Day: Sep-2010 | Income -216386
Day: Oct-2010 | Income 477532
Day: Nov-2010 | Income 893810
Day: Dec-2010 | Income -80353
Day: Jan-2011 | Income 779806
Day: Feb-2011 | Income -335203
Day: Mar-2011 | Income 697845
Day: Apr-2011 | Income 793163
Day: May-2011 | Income 485070
Day: Jun-2011 | Income 584122
Day: Jul-2011 | Income 62729
Day: Aug-2011 | Income 668179
Day: Sep-2011 | Income 899906
Day: Oct-2011 | Income 834719
Day: Nov-2011 | Income 132003
Day: Dec-2011 | Income 309978
Day: Jan-2012 | Income -755566
Day: Feb-2012 | Income 1170593
Day: Mar-2012 | Income 252788
Day: Apr-2012 | Income 1151518
Day: May-2012 | Income 817256
Day: Jun-2012 | Income 570757
Day: Jul-2012 | Income 506702
Day: Aug-2012 | Income -1022534
Day: Sep-2012 | Income 475062
Day: Oct-2012 | Income 779976
Day: Nov-2012 | Income 144175
Day: Dec-2012 | Income 542494
Day: Jan-2013 | Income 359333
Day: Feb-2013 | Income 321469
Day: Mar-2013 | Income 67780
Day: Apr-2013 | Income 471435
Day: May-2013 | Income 565603
Day: Jun-2013 | Income 872480
Day: Jul-2013 | Income 789480
Day: Aug-2013 | Income 999942
Day: Sep-2013 | Income -1196225
Day: Oct-2013 | Income 268997
Day: Nov-2013 | Income -687986
Day: Dec-2013 | Income 1150461
Day: Jan-2014 | Income 682458
Day: Feb-2014 | Income 617856
Day: Mar-2014 | Income 824098
Day: Apr-2014 | Income 581943
Day: May-2014 | Income 132864
Day: Jun-2014 | Income 448062
Day: Jul-2014 | Income 689161
Day: Aug-2014 | Income 800701
Day: Sep-2014 | Income 1166643
Day: Oct-2014 | Income 947333
Day: Nov-2014 | Income 578668
Day: Dec-2014 | Income 988505
Day: Jan-2015 | Income 1139715
Day: Feb-2015 | Income 1029471
Day: Mar-2015 | Income 687533
Day: Apr-2015 | Income -524626
Day: May-2015 | Income 158620
Day: Jun-2015 | Income 87795
Day: Jul-2015 | Income 423389
Day: Aug-2015 | Income 840723
Day: Sep-2015 | Income 568529
Day: Oct-2015 | Income 332067
Day: Nov-2015 | Income 989499
Day: Dec-2015 | Income 778237
Day: Jan-2016 | Income 650000
Day: Feb-2016 | Income -1100387
Day: Mar-2016 | Income -174946
Day: Apr-2016 | Income 757143
Day: May-2016 | Income 445709
Day: Jun-2016 | Income 712961
Day: Jul-2016 | Income -1163797
Day: Aug-2016 | Income 569899
Day: Sep-2016 | Income 768450
Day: Oct-2016 | Income 102685
Day: Nov-2016 | Income 795914
Day: Dec-2016 | Income 60988
Day: Jan-2017 | Income 138230
Day: Feb-2017 | Income 671099

Financial Analysis
------------------------------
Total Monthly Incomes: 38382578
Total number of Months: 86
Average Monthly Income: 446309.05
Largest Monthly Profit: ('Feb-2012', 1170593)
Largest Monthly Loss: ('Sep-2013', -1196225)